*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
}

.container{
    background-color: gainsboro;
    width: 100vw;
    height: 100vh;
    display: flex;

}

nav{
    background-color: rgb(35, 48, 62);
    color: #fff;
    display: flex;
    align-items: center;
    width: 30vw;
}

nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;

}
nav ul li{
    margin: 10px 0 0 50px;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}
#li-resume{
    margin-left: 70px;
}
main{

    background-size: cover;
    background-image: linear-gradient( rgb(35, 48, 62, 0.92) 2%, rgb(226, 70, 109, 0.92)), url("./fundo-main.jpg");
    width: 70vw;
  
}
.foto{
    position: fixed;
    height: 70%;
    left: 20vw;
    top: 20vh;
    border: rgb(226, 70, 109) 2px solid;
    box-shadow: 0 2px 16px black;
    border-bottom-right-radius: 30px;

}

h1 {
    color: white;
    position: fixed;
    top: 40vh;
    margin-left: 7vw;
    text-shadow: 0 2px 2px black;
}

h2 { 
    
    position: fixed;
    top: 47vh;
    margin-left: 10vw;
    font-size: 2rem;
    color: #e2466e;
    text-shadow: 0 2px 2px black;
}

.descricao {
    color: white;
    position: absolute;
    font-size: 1.8vw;
    top: 68vh;
    margin-left: 25vw;
    width: 30vw; 
}

#span-1 {
    position: fixed;
    width: 50px;
    height: 30px;
    top: 45vh;
    border: #e2466e solid 1px;
    border-radius: 20px;
    left: 115px;
}
#span-2 {
    position: fixed;
    width: 50px;
    height: 30px;
    top: 51vh;
    border: #e2466e solid 1px;
    border-radius: 20px;
    background-color: #e2466e;
    left: 45px;
}

#pontinho-1{
    position: fixed;
    width: 10px;
    height: 10px;
    top: 47.2vh;
    background-color: #e2466e;
    border-radius: 50%;
    left: 150px;
}

#pontinho-2 {
    position: fixed;
    width: 10px;
    height: 10px;
    top: 52.8vh;
    border-radius: 50%;
    background-color: white;
    margin-left: 53px;
    z-index: 1;
}

.contatos {
  position: fixed;
  color: white;
  top: 90vh;
  left: 60vw;
}

.resume {
    width: 40vw;
    height: 40vh;
    display: none;
    padding: 30px 20px;
    background-color: teal;
    position: absolute;
    top: 14vh;
    right: 5vw;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /* transform: translateX(40vw);
    transition: all 0.5s ease-out;  */
}

.show-resume {
    display: block;
    /* transform: translateX(-5vw); */
}

.resume p {
    font-size: 1.8vw;
    color: white;
    margin-bottom: 20px;
}
.resume-title {
    font-size: 3vw;
    font-weight: bold;
}

.close {
    color: white;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
}

@media only screen 
and (max-width : 720px){
    .foto {
        top: 20px;
        height: 150px;
        border-radius: 100%;
    }
    h1 {
        margin-left: -10vw;
        margin-top: -5vh;
    }
    h2 {
        margin-left: -8vw;
        margin-top: -5vh;
    }
    nav ul, #pontinho-1,
    #pontinho-2, #span-1, #span-2 {
        display: none;
    }
}