*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    background-color: gainsboro;
    width: 100vw;
    height: 100vh;
    display: flex;

}

nav{
    background-color: #232f3d;
    color: #fff;
    display: flex;
    align-items: center;
    width: 30vw;
}

nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;

}
nav ul li{
    margin: 10px 0;
    text-align: center;
}
main{
    background-color: linear-gradient{yellow,blue, 40%};
}
.foto{
    position: fixed;
    height: 70%;
    left: 20vw;
    top: 20vh;
}

h1{
    color: white;
}